.nav{
  margin: 0;
  padding: 0;
}
html{
  text-align: center;
  background-color: rgb(197, 203, 214);
  font-family: 'PT Sans', sans-serif;
}
.nav{
  margin: 0;
  padding: 0;
}
html{
  text-align: center;
  background-color: rgb(161, 177, 204);
  font-family: 'PT Sans', sans-serif;
}
h1{
  font-size: 50px;
  padding: 5px;
}
header{
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: none;
}
img{
  text-align: center;
}
a{
  color: rgb(59, 109, 191);
}
p{
  font-size: 20px;
}
#headerLinks{
  font-size: 25px;
}
#content{
  background-color: rgb(237, 241, 247);
  line-height: 1.5;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin: 10px auto;
  width: 60%;
  max-width: 900px;
}
ul{
  padding: 5px 0 5px 30px;
}
