html{
  text-align: center;
  background-color: rgb(247, 250, 255);
  font-family: 'PT Sans', sans-serif;
}
h1{
  font-size: 50px;
}
header{
  color: rgb(161, 177, 204);
}
img{
  text-align: center;
}
a{
  color: rgb(59, 109, 191);
}
