html{
  text-align: center;
  background-color: rgb(247, 250, 255);
  font-family: 'PT Sans', sans-serif;
}
img{
  text-align: center;
}
a{
  color: rgb(171, 195, 234);
}
a: visited{
  color: rgb(115, 147, 198);
}
