*{
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(100, 183, 224);
  min-height: 80px;
}
#logo{
  float: left;
  width: 60px;
  height: 70px;
}
#logoWords{
  font-family: 'Permanent Marker', sans-serif;
  font-size: 58px;
  float: left;
  margin: auto 0;
  vertical-align: middle;
  text-align: left;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(100, 183, 224);
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: rgb(100, 183, 224);
}
