nav {
  background-color: rgb(17, 76, 170);
  min-height: 70px;
}
#logo{
  float: left;
  width: 60px;
  height: 70px;
}
#logoWords{
  font-family: 'Permanent Marker', cursive;
  font-size: 58px;
  float: left;
  margin: auto 0;
  vertical-align: middle;
  text-align: left;
}
