nav {
  background-color: rgb(17, 76, 170);
  padding: 10px;
  min-height: 60px;
}
#logo{
  float: left;
}
#logoWords{
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  float: left;
  vertical-align: middle;
}
